body {
  background-color: -moz-Dialog;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 1ex;
  font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace!important;
}

section { margin-bottom: 3em; }
section > p {
  max-width: 80ex;
}

header { margin-bottom: 1.5em; }
header.primary {
  padding-bottom: 4px;
  border-bottom: 2px solid #bada55;
  font-size: x-large;
}
header.primary img {
  margin-bottom: -5px;
  padding-right: 6px;
}
header.primary h1 { display:inline; }
header.secondary h2 { border-bottom: 1px dotted #ccc; }

ul { margin-top: 5px; padding-left: 15px; }
li { margin-bottom: 0.2em; }

p { margin: 0; padding: 0; margin-bottom: 0.5em; }

a { color: #00f; text-decoration: none; }
a:hover { color: #09f; }

article {
  color: black;
  background-color: white;

  margin: 2em auto 2em;
  padding: 3em;
  max-width: 110ex;
  background-color: #fff;
  border: 1px solid ThreeDShadow;
  border-radius: 15px;
}

table {
  width: 100%;
  padding: 0;
  margin: 0;
}
td {
  vertical-align: top;
  margin: 1ex;
}

#contlist {
  -moz-column-count: 2;
}

@media all and (min-width: 1100px) {
  #contlist {
    -moz-column-count: 3;
  }
}

.homepage {
  color: black;
  border-bottom: 1px dotted lightgray;
}

#test {
  display: none;
  padding: 0;
}
#test > section {
  margin: 0;
}

#test header { margin-bottom: 0; border: none; }

#qunit-testresult {
  max-width: 100% !important;
}

#qunit-tests li {
  margin: 0 !important;
}

