#category-userscript > .category-icon {
  list-style-image: url("chrome://scriptish/skin/third-party/uso_medium.png");
}
.addon[type="userscript"] .control-container {
  -moz-binding: url("chrome://scriptish/content/addonstab.xml#control-container");
}

page.scriptish #addon-list-empty, #scriptish-list-empty {
  display: none;
}

page.scriptish #scriptish-detail-contrib-description {
  font-style: italic;
  margin-bottom: 1em;
  color: #373D48; /* color not set in gnomestripe... */
}
page.scriptish #scriptish-detail-contrib-description, #detail-contrib-description {
  display: inline;
}
page.scriptish #detail-contrib-description, #scriptish-detail-contrib-description {
  display: none;
}

/* Hide the 'restart now' link for user scripts. */
page.scriptish #addon-list button[command=cmd_restartApp] {
  display: none;
}
