#scriptish-button {
	-moz-box-orient: horizontal;
	list-style-image: url("chrome://scriptish/skin/scriptish24.png");
}

toolbar[iconsize="small"] #scriptish-button {
	list-style-image: url("chrome://scriptish/skin/scriptish16.png");
}

#scriptish-button[scriptish-disabled] {
	list-style-image: url("chrome://scriptish/skin/scriptish24_disabled.png");
}

toolbar[iconsize="small"] #scriptish-button[scriptish-disabled] {
	list-style-image: url("chrome://scriptish/skin/scriptish16_disabled.png");
}
