@import "chrome://global/skin/global.css";
@import "chrome://mozapps/content/xpinstall/xpinstallConfirm.css";
@import "chrome://mozapps/skin/xpinstall/xpinstallConfirm.css";

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#install{margin-bottom:1em;}

#installBox{
  padding:0;
  -moz-appearance:textfield;
  margin:2px 4px;
}
#itemBox {
  padding-top: 1ex;
  overflow:auto;
}

#script-desc-vbox{
  background:InfoBackground;
  color: InfoText;
  border-bottom:1px black dotted;
  padding:0.5em;
}

#scriptIcon {
  max-width: 48px;
  max-height: 48px;
  margin-right: 1ex;
}

#scriptDescription{margin:0;}

#scriptDescription strong{font-size: 1.25em;}

#showSource-box {
  margin: 1ex;
}

#itemBox vbox:not(#script-desc-vbox){
  margin:0 0 1em 1em;
  display:none;
}

#excludes-desc, #includes-desc, #matches-desc{font-style:italic;}

#itemBox vbox.display:not(#script-desc-vbox){display:inherit;}

html|ul {
  margin-top: 0;
  padding-top: 0;
}
