@import "chrome://global/skin/global.css";
@import "chrome://mozapps/content/xpinstall/xpinstallConfirm.css";
@import "chrome://mozapps/skin/xpinstall/xpinstallConfirm.css";

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#install{margin-bottom:1em;}

#installBox{
  padding:0;
  -moz-appearance:textfield;
  margin:2px 4px;
}
#itemBox{
  padding-top: 1ex;
  overflow:auto;
}

#script-desc-vbox{
  background:InfoBackground;
  color: InfoText;
  border-bottom:1px black dotted;
  padding: 0.5em;
  padding-right: 1.5em;
}

#scriptIconBox {
  width: 64px;
  height: 64px;
  margin-top: 1ex;
  margin-right: 1ex;
}

#scriptIcon {
  min-width: 24px;
  min-height: 24px;
  max-width: 64px;
  max-height: 64px;
  image-rendering: optimizeQuality;
  image-rendering: -moz-crisp-edges;
}

#scriptTitle {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 1ex;
}

#showSource-box{
  margin: 1ex;
  -moz-box-flex: 1;
  -moz-box-pack: end;
  -moz-box-align: end;
}

#itemBox vbox:not(#script-desc-vbox){
  margin:0 0 1em 1em;
  display:none;
}

#excludes-desc, #includes-desc, #matches-desc{font-style:italic;}

#itemBox vbox.display:not(#script-desc-vbox){display:inherit;}

html|ul {
  margin-top: 0;
  padding-top: 0;
}
