@import url(chrome://global/skin/);
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

row {
  /* some more white space, so that the invalid borders don't overlap */
  margin-bottom: 2px;
  margin-bottom: 4px;
}

row > label {
  margin-right: 1em;
}

textbox {
  min-width: 35em;
}

/* NOTE: If changing, keep in sync with options.css */
*[required][invalid="true"] {
  box-shadow: 0pt 0pt 1.5px 1px red;
}

#generate-id {
  list-style-image: url(generate.png);
}
