@import "chrome://global/skin/";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

radio[pane] {
  list-style-image: url(options.png);
}
radio[pane="pane-main"] {
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}
radio[pane="pane-ui"] {
  -moz-image-region: rect(0px, 128px, 32px, 96px);
}
radio[pane="pane-excludes"] {
  -moz-image-region: rect(0px, 64px, 32px, 32px);
}
radio[pane="pane-sync"] {
  list-style-image: url(chrome://browser/skin/sync-32.png);
}
radio[pane="pane-advanced"] {
  -moz-image-region: rect(0px, 96px, 32px, 64px);
}

caption,
description {
  font-weight: bold;
}

.remark {
  font-style: italic;
  font-size: x-small;
}

/* NOTE: If changing, keep in sync with newscript.css */
.valid {
  box-shadow: 0pt 0pt 1.5px 1px green;
}

.invalid {
  box-shadow: 0pt 0pt 1.5px 1px red;
}

tabpanel {
  -moz-box-orient: vertical;
}
